.chip {
  background-color: transparent;
  border: 2px solid #2d3939;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 1000px;
  font-weight: 500;
  letter-spacing: 0.25px;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.chip[aria-selected="true"] {
  border-color: #25e4b4;
}

.chip[tabindex="0"]:hover,
.chip[tabindex="0"]:focus-visible {
  cursor: pointer;
  background-color: #242e2e;
}
