.chip {
  background-color: transparent;
  border: 2px solid var(--surface-2);
  outline: none;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: 1000px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-1);
  transition: border-color 0.2s, background-color 0.2s;
}

.chip[aria-selected="true"] {
  border-color: var(--primary-1);
}

.chip[tabindex="0"]:hover,
.chip[tabindex="0"]:focus-visible {
  cursor: pointer;
  background-color: var(--surface-1);
}

@media (min-width: 25em) {
  .chip {
    font-size: 1rem;
  }
}
