.fab {
  font-weight: 500;
  letter-spacing: 0.25px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem;
  color: var(--background);
  background-color: var(--primary-1);
  box-shadow: var(--shadow-1);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.fab:hover,
.fab:focus-visible {
  background-color: var(--primary-2);
  box-shadow: var(--shadow-2);
}
