.fab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0.625rem;
  cursor: pointer;
  color: var(--background);
  background-color: var(--primary-1);
  box-shadow: var(--box-shadow-1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.fab:hover,
.fab:focus-visible {
  background-color: var(--primary-2);
  box-shadow: var(--box-shadow-2);
}

@media (min-width: 25em) {
  .fab {
    padding: 0.75rem;
  }
}
