.children {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 22rem;
}

.children.small {
  max-width: 14rem;
}

.children.heading {
  padding-top: 2rem;
}
