.inputs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 350px;
}

.inputs.heading {
  padding-top: 2rem;
}

.inputs.small {
  max-width: 225px;
}
