.div {
  display: flex;
  flex-direction: column-reverse;
}

.label {
  color: #25e4b4;
  font-size: 0.95rem;
  letter-spacing: 1px;
  margin-left: 0.75rem;
  margin-bottom: 0.4rem;
  transition: color 0.2s ease;
}

.input {
  color: inherit;
  caret-color: #25e4b4;
  border-radius: 4px;
  border: 2px solid #25e4b4;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  outline: none;
  transition: border-color 0.2s ease;
  letter-spacing: 1px;
  width: 250px;
}

.input:hover,
.input:focus {
  border-color: #16b68e;
}

.input:hover + .label,
.input:focus + .label {
  color: #16b68e;
}

.input::placeholder {
  color: #3f5050;
  font-weight: 500;
  letter-spacing: 1px;
}
