.requirements {
  width: 100%;
  border-radius: 4px;
  list-style-position: inside;
  background-color: var(--surface-1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  letter-spacing: var(--letter-spacing-2);
}
