.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.header {
  width: 400px;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--surface-2);
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.space {
  flex-grow: 1;
}

.records {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1200px;
}

.record {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  width: 250px;
  background-color: var(--surface-1);
  transition: background-color 0.2s ease;
}

.record:hover,
.record:focus-visible {
  background-color: var(--surface-2);
}

.recordIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-1);
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 4px;
}

.recordText {
  font-weight: 500;
  font-size: 1.15rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
