.status {
  padding-top: 4rem;
  color: var(--primary-1);
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: 3px;
  text-align: center;
}

.heading {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1.5px;
}
