.header {
  padding: 36px;
}

.h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.main {
  padding: 36px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 16px;
}
