.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.name {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  padding: 1rem 0;
}

.field:not(:first-child) {
  border-top: 1px solid #2d3939;
}

.icon {
  margin-right: 1.5rem;
  color: #6c8989;
}

.label {
  font-size: 0.95rem;
  color: #6c8989;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

.text {
  word-break: break-all;
  letter-spacing: 1px;
  font-size: 1.05rem;
  line-height: 1.25;
}

.space {
  flex-grow: 1;
}

.icons {
  margin-left: 0.5rem;
}
