* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  flex-grow: 1;
  font-family: "Roboto", sans-serif;
  color: #e8eded;
  background-color: #1b2222;
}
